 body
    {
     background-color:#FCF2E6;
    }
    #div-1 {
    position:absolute;
    margin-right:-250px;
    margin-top:-150px;
    top:50%;
    right:50%;
    width:500px;
    height:250px;
    border:5px;
    border: 3px coral solid;
    background-color:#FFE4C4;
    }
    #div-2 {
    position:absolute;
    top:50%;
    right:50%;
    width:200px;
    height:100px;
    margin-right:-63px;
    }
    p
    {
    font-size:12px;
    text-align:right;
    }
    #test2
    {
    position:absolute;
    width:250px;
    margin-right:0px;
    margin-top:25px;
    }
    h5
    {
    margin-bottom:5px;
    }
    #adres
    {
    float:right;
    margin-right:25px;
    margin-top:25px;
    }
    #photo
    {
    margin-left:25px;
    margin-top:25px;
    float:left;
    }
    #backboneWrapper{
	postion:relative; 
	width:1030px; 
	margin-left:auto; 
	margin-right:auto; 
	margin-top:80px;
    }
    h1{
    margin-bottom:0px;
    }
    #contentWrapper{
    position:relative; 
    width:1024px; 
    min-height:400px; 
    background-color:#FFE4C4; 
    border: 3px coral solid;
    }
    #tableWrapper{
    background-color:#FFFFFF;
    width:360px; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:15px;
    }
    a{
    text-decoration:none;
    margin-left:5px;
    }
    #buttons{
    margin-bottom:10px; 
    position:relative; 
    left: 880px;
    }
